.container {
    display: grid;
    grid-template-rows: 4fr 2fr 8fr;
    grid-template-areas: 
    "head"
    "main"
    "footer";
}

.item-a {
    grid-area: head;
    align-self: flex-start;
    background-color: whitesmoke;
}
.item-b {
    grid-area: main;
    justify-self: center;
}
.item-c {
    grid-area: footer;
    justify-self: center;
    align-self: flex-end;
}

html {
    -moz-appearance: none 
}

/*body {
    background-color: aqua;
}
*/
ul {
    list-style: none;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}
#LogInButton {
    background-color: blue;
    color: white;
}